
@{
    ViewData["Title"] = "Admin Dashbaord";
}

<h2>Admin Dashbaord</h2>

<div class="jumbotron">
    @*<h1>Hello, @UserManager.GetUserName(User)</h1>*@
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">Create New Movie</div>
    <div class="col-md-4">Create New Customer</div>
    <div class="col-md-4">Create New Customer</div>
</div>